#zrender1,#zrender2,#arc{
    position: absolute;
    top:0;
    left:0;
}
#main{
    position: absolute;
    top:0;
    left:0;
}
#right-a{
    position: absolute;
    top:0;
    right:50px;
}
#right-b{
    position: absolute;
    top: 155px;
    right: 198px;
}

#zrender3{
    position: absolute;
    top: 100px;
    right:0;
}
*{
    padding:0;
    margin:0;
}